@import "variables";
@import "loader";

* {
  font-family: "Whitney Medium", sans-serif;
}

.icon-svg {
  transition: all .2s ease;
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  color: $primary;
}

.tooltip {
  z-index: 999999;
  transition: all 5ms ease-in-out;
  padding: 8px 12px;
  min-height: 18px;
  line-height: 18px;
  max-width: 200px;
  position: absolute;
  background: #000000;
  border-radius: 5px;
  color: $primary;
  font-size: 14px;
  font-weight: bold;
  text-align: left;

  word-wrap: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  hyphens: auto;

  &:after {
    content: '';
    position: absolute;
    left: 0px;
    width: 12px;
    height: 12px;
    background: #000000;
    top: calc(50% - 1px);

    transform: rotate(45deg) translate(-50%);
  }
}

body {
  background: #292929;
}

.rounded-50 {
  border-radius: 50%;
}

.testTransition, .server-button-container {
  position: relative;
  transition: all .2s ease;
}

.server-button-container {
  &:before {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: height .1s linear;
    transform: translate(0, -50%);
    top: 50%;
    content: '';
    position: absolute;
    height: 0;
    width: 3px;
    background: $primary;
  }

  &.active {
    &:before {
      height: 100%;
    }

    .testTransition {
      @apply rounded;
      @apply bg-primary;
      @apply text-white;

      .icon-svg {
        color: #ffffff;
      }
    }
  }

  &:hover {
    .icon-svg {
      color: #ffffff;
    }

    &:before {
      height: 50%;
    }
  }
}

.server-name-container, .chat-header-container {
  box-shadow: 0 0 3px rgba(#000000, .5);
}

.chat-header-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: hidden;
}

.server-name-container {
  cursor: pointer;
  .server-name-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    overflow-x: hidden;
    p {
      font-size: 14px;
      line-height: 2;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: calc(100% - 45px);
      display: block;
      overflow: hidden
    }
  }
}

.app-content {
  display: flex;
  height: 100%;
  max-height: 100%;
  min-width: 100vw;
  max-width: 100vw;

  .section-server-container {
    //z-index: 0;
    min-width: 56px;
    max-width: 56px;
    max-height: 100%;
    overflow-y: auto;
    box-shadow: 3px 0 3px -3px rgba(#000000, .5) !important;

    &::-webkit-scrollbar {
      width: 0;
    }

    .section-server-side-content {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

.baseGuild {
  display: flex;
  width: calc(100% - 56px);
}

.section-direct-message-container {
  //z-index: 0 !important;
  min-width: 240px !important;
  height: 100% !important;
  max-height: 100vh !important;
  max-width: 240px !important;
  box-shadow: 3px 0 3px -3px rgba(#000000, .5) !important;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}

.channel {
  padding: 7px;
  display: flex;
  &.category {
    font-size: 12px;
    font-family: "Whitney Semibold Regular", sans-serif;
  }

  .channel-name {
    margin-left: 10px;
    font-size: .9rem;
    line-height: 1.1;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 16px);
    display: block;
    overflow: hidden;

    &.parent {
      margin-left: 1rem;
    }
  }
}

.channel-section-container {
  flex: 1;
  max-height: 100%;
  //height: 100%;
  //max-height: calc(100% - 100px);
  overflow: auto;
  .channel-container {
    margin: 2px 0;
    color: darken(#ffffff, 20);
    cursor: pointer;
    font-size: 1rem;
    font-family: "Whitney Book Regular", sans-serif;
    border-radius: 5px;

    .channel {
      padding: 7px;
      display: flex;
      &.category {
        font-size: 12px;
        font-family: "Whitney Semibold Regular", sans-serif;
      }
    }

    .category {
      letter-spacing: .5px;
      font-weight: bold;
      font-size: 10px !important;
      margin-left: 0 !important;
      text-transform: uppercase;
    }

    .channel-name {
      margin-left: 10px;
      font-size: .9rem;
      line-height: 1.1;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: calc(100% - 16px);
      display: block;
      overflow: hidden;

      &.parent {
        margin-left: 1rem;
      }
    }

    &:hover {
      color: white;

      &:not(.GUILD_CATEGORY) {
        background: lighten($dark, 7);
      }

      &.selected {
        background: lighten($dark, 10);
      }
    }

    &.selected {
      color: white;
      background: lighten($dark, 10);
    }
  }
}

.section-chat-content {
  //width: 100%;
  //height: 100%;
  display: flex;
  flex-direction: column;
  height: 100% !important;
  max-height: 100vh !important;
}

.section-chat-messages {
  //padding: .25rem 1.25rem;
  position: relative;
  //padding-left: 15px;
  //padding-bottom: 20px;


  //height: 100%;
  //display: flex;
  //flex-direction: column;
  //overflow: auto;
  //max-height: 100%;

  flex: 1;
  flex-direction: column;
  overflow: auto;
  display: flex;
  max-height: 100%;

  &::-webkit-scrollbar {
    padding: 10px;
    width: 4px;
    height: 4px;
    background-color: darken($dark-200, 4); /* or add it to the track */
    border-radius: 5px;
    opacity: .2;
  }

  &::-webkit-scrollbar-thumb {
    opacity: .2;
    width: 2px;
    background: darken($primary, 4);
    border-radius: 5px;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  .divider-message {
    width: 100%;
    height: 1px;
    background: white;
    margin: 1rem 0;
    opacity: .1;
  }

  .section-chat-channel-info-container {
    padding: 1rem 0 .25rem;
    margin-top: auto;
    .section-chat-channel-info-icon {
      width: 64px;
      height: 64px;
      background: lighten($dark-200, 5);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-hashtag {
        margin-top: 3px;
        max-width: 32px;
      }
    }

    .gpasdidéd {
      padding: .25rem 1.25rem;
    }

    .section-chat-channel-info-content {
      font-family: "Whitney Book Regular", sans-serif;

      .channel-name {
        color: $primary;
      }

      .section-chat-channel-info-title {
        font-family: "Whitney Bold", sans-serif;
        font-size: 2rem;
        font-weight: bold;
      }
      .section-chat-channel-info-subtitle {
        font-size: 14px;
        opacity: .7;
      }
    }
  }

  .message-wrapper-container {
    word-break: break-all;
    transition: all .1s ease;
    position: relative;
    display: flex;
    user-select: auto;
    font-family: "Whitney Book Regular", sans-serif;
    //padding: .25rem 0 .25rem 1.25rem;
    //margin-right: 10px;

    &:hover {
      .message-params-container {
        display: block;
      }
    }

    .message-params-container {
      transition: all .2s ease-in-out;
      display: none;
      border-radius: 5px;
      box-shadow: 0 0 2px 1px rgba(#000, .2);
      overflow: hidden;
      $message-params-height: 28px;
      position: absolute;
      top: calc((#{-$message-params-height} / 2));
      right: calc(#{$message-params-height} / 2);
      background: lighten($dark-200, 2);
      height: $message-params-height;

      &:hover {
        box-shadow: 0 3px 3px 1px rgba(#000, .2);
      }

      button {
        transition: all .1s ease-in-out;
        cursor: pointer;
        width: 28px;
        height: 28px;
        background: lighten($dark-200, 2);
        border: none;
        &:hover {
          background: lighten($dark-200, 7);
        }
      }
    }
    //
    /*margin-top: 3px;
    margin-bottom: 3px;
    margin-right: .5rem;

    &:first-child {
      margin-top: 1rem;
    }*/

    &:before {
      transition: height .1s linear;
      transform: translate(0, -50%);
      top: 50%;
      left: 0;
      content: '';
      position: absolute;
      height: 0;
      width: 2px;
      background: $primary;
    }

    &:last-child {
      margin-bottom: 1rem;
    }

    &:hover {
      background: darken($dark-200, 1.5);

      &:before {
        height: 100%;
      }
    }

    .message-content {
      white-space: pre-line;
    }

    .message-author-avatar-container {
      min-width: 48px;
      max-width: 48px;
      max-height: 48px;
      overflow: hidden;
      border-radius: 15px;

      .avatar {
        width: 100%;
        height: 100%;
        background: lighten($dark-200, 5%);
      }
    }

    .message-content-container {
      //padding: 0 1.25rem 0 0;
      margin-right: 10px;
      margin-left: .5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .message-attachment-image-container {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: 5px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .message-info-container {
      display: flex;
      margin-top: 2px;
      align-items: center;

      .message-info-author-name {
        font-family: "Whitney Medium", sans-serif;
        font-size: 15px;

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .message-info-time {
        font-family: "Whitney Light Regular", sans-serif;
        margin-left: .5rem;
        margin-top: auto;
        font-size: 13px;
        opacity: .5;
      }
    }

    .message-wrapper-content {
      padding-bottom: 2px;
      padding-top: 2px;
      font-family: "Whitney Light Regular", sans-serif;
      font-size: 14px;
      //line-height: 1.2rem;
    }
  }
}


.input-message-container {

  .container-message-attachment {
    padding: 5px 15px;
    background: lighten($dark-200, 5%);
    display: flex;
    align-items: center;
  }

  .input-message-content {
    background: lighten($dark-200, 5%);
    display: flex;
    align-items: center;

    .input-message-send-files {
      position: relative;
      margin: auto 15px;
      cursor: pointer;
      width: 20px;
      height: 20px;
      background: lighten($dark-200, 50%);
      border-radius: 145949454px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-svg {
        width: 60px;
        height: 10px;
        margin-top: 1px;
        margin-left: 1.5px;
        min-width: 12px !important;
        min-height: 12px !important;
        color: black;
      }
    }

    .input-message {
      font-size: 14px;
      padding: 10px 10px 10px 0;
      background: none;
      position: relative;
      overflow-x: hidden;
      pointer-events: all;
      border: none;
      box-sizing: border-box;
      overflow-y: auto;
      max-height: 50vh;
      outline: none;
      //width: 100%;
      color: white;
      font-family: "Whitney Light Regular", sans-serif;
      -moz-user-modify: read-write;
      -webkit-user-modify: read-write-plaintext-only;
      user-modify: read-write;

      &:empty:after {
        content: attr(data-placeholder);
        color: white;
        opacity: .4;
        margin-left: 1px;
        pointer-events: none;
      }
    }
  }
}

.user-info-cotnainer {
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px rgba(#000000, .5);
}

.backgroundOverlay {
  background: rgba(23, 24, 26, .90);
}

.modal-overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-base-container {
  background: #292929;
  border-radius: 3px;
  width: 340px;
  color: white;

  .form-base-bottom {
    background: #1d1d1d;
  }

  .form-create-server-title-container {
    text-align: center;

    .form-create-server-title {
      font-size: 1.3rem;
      font-weight: bold;
    }

    .form-create-server-subtitle {
      margin-top: 5px;
      font-size: .8rem;
      line-height: 1rem;
      opacity: .8;
    }
  }
}

.input {
  color: white;
  box-sizing: border-box;
  padding: .6rem;
  font-size: .8rem;
  border: 1px solid #444444;
  transition: border .3s linear;
  border-radius: 6px;
  display: block;
  width: 100%;
  background: #1d1d1d;

  &[type='password'] {
    &::placeholder {
      font-size: .7rem;
      letter-spacing: 1.2px;
    }
  }

  &.form-control {
    border-radius: 5px;
    //color: var(--text-muted);

    &::placeholder {
      color: #495057;
    }

    &:-webkit-autofill {
      //-webkit-text-fill-color: #8b99a5;
      -webkit-box-shadow: 0 0 0 0 rgba(#000, 0) inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:focus {
      outline: none;
      border-color: #8290c4;
    }
  }
}

.required {
  color: #cf4848;
}

.form-group {
  label {
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    //margin-bottom: .5rem;
  }

  font-family: 'Whitney Light Regular', sans-serif;
  .invalid-feedback {
    color: #cf4848;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
  }
}
